@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$color-primary: #373F51;
$color-secondary: #58A4B0;
$black: #1B1B1E;
$white: #FFF;

$breakpoint-mobile: 996px;

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

main{
    height: 100vh;
}