@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$color-primary: #373F51;
$color-secondary: #58A4B0;
$color-red: #A30000;
$color-green: #66bb6a;
$black: #1B1B1E;
$white: #FFF;

$breakpoint-mobile: 996px;

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

main{
    height: 100vh;
    display: flex;
}

.content{
    flex: 1;
    display: block;
    max-height: 100vh;
    overflow-y: auto;
}